<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/signup.css">

    <title>Signup | Hotelsnb</title>
</head>

<body>
    <div id="main">
        <div id="left">
            <h2>Already Signed Up?</h2>
            <p>Log in to your account so you can continue browsing hotels of your choice</p>
            <a href="./login.html">LOG IN</a>
        </div>
        <div id="right">
            <h2>Sign up for an account</h2>
            <!-- <p>Lets get you all set up so you can start creating your first onboardingg experience</p> -->
            <form action="./properties.html">
                <div id="name">
                    <div id="fname">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" id="first_name" placeholder="Enter first name" required>
                    </div>
                    <div id="lname">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" id="last_name" placeholder="Enter last name" required>
                    </div>
                </div>
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone" placeholder="Enter phone number" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter email id" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter new password" required>
                <label for="cPassword">Confirm Password</label>
                <input type="password" name="cPassword" id="cPassword" placeholder="Repeat the above password" required>
                <button type="submit">SIGN UP</button>
            </form>
        </div>
    </div>
</body>

</html>